body{
    background-color: darkred;
  
}
#child{
    margin: 5px;
    width: 90%;
    text-align: center;
    padding: 0;
    border: 2px solid black;
    border-radius: 50px;
    background-color: tan;
    color: white;
}
#child0{
    margin: 10px;
    text-align: center;
    padding: 0;
    border: 2px solid black;
    border-radius: 50px;
    background-color: tan;
    cursor: pointer;
}
#as:active{
    color: white;
    font-size: 35px;
}
#as2:active{
    color: white;
    font-size: 35px;
}
#as3:active{
    color: white;
    font-size: 35px;
}
#as4:active{
    color: white;
    font-size: 35px;
}
#child1{
    text-align: center;
    padding: 0;
    border: 2px solid black;
    background-color: tan;
    color: white;
}
#container{
    display: flex;
    justify-content: center;
}
#child2{
    margin: 10px;
    text-align: center;
    padding: 0;
    border: 2px solid black;
    border-radius: 50px;
    background-color: tan;
    cursor: pointer;
}
#child3{
    margin: 10px;
    text-align: center;
    padding: 0;
    border: 2px solid black;
    border-radius: 50px;
    background-color: tan;
    cursor: pointer;
}
#child4{
    margin: 10px;
    text-align: center;
    padding: 0px;
    border: 2px solid black;
    border-radius: 50px;
    background-color: tan;
    cursor: pointer;
}
#img{
    margin-top: -35px;
    display: flex;
    justify-content: center;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
  
}


.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%  ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: darkred;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: darkred;
    color: darkred;
}
.bll{
    outline: none;
}
input{
    padding: 0%;
    width: 70%;
    font-size: 150%;
}


/*Second modal*/


.modal2 {
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
  
}


.modal-content2 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%  ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal-header2 {
    padding: 2px 16px;
    background-color: darkred;
    color: white;
}

.modal-body2 {padding: 2px 16px;}

.modal-footer2 {
    padding: 2px 16px;
    background-color: darkred;
    color: darkred;
}
.bll2{
    outline: none;
}



/*modal third*/

.modal3 {
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
  
}


.modal-content3 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%  ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal-header3 {
    padding: 2px 16px;
    background-color: darkred;
    color: white;
}

.modal-body3 {padding: 2px 16px;}

.modal-footer3 {
    padding: 2px 16px;
    background-color: darkred;
    color: darkred;
}
.bll3{
    outline: none;
}


/*modal containt 4*/


.modal4 {
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
  
}


.modal-content4 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%  ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal-header4 {
    padding: 2px 16px;
    background-color: darkred;
    color: white;
}

.modal-body4 {padding: 2px 16px;}

.modal-footer4 {
    padding: 2px 16px;
    background-color: darkred;
    color: darkred;
}
.bll4{
    outline: none;
}